body {
    display: flex;
    justify-content: center;
}

body, ul, ol {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul, ol {

    /*list-style-image: url("../icons/bat.png");*/
    list-style-type: disc;
}
